body
    background-image url("/images/94263720_p0.png")
    background-repeat no-repeat
    background-position center
    background-size cover
    background-attachment fixed

.header-inner, .sidebar-inner, .main-inner, .main-inner > .sub-menu, .main-inner > .post-block, .main-inner > .tabs-comment, .main-inner > .comments, .main-inner > .pagination, .site-brand-container
    background-color rgba(35, 61, 86,0.8)

.menu-item a:hover, .menu-item a.menu-item-active
    background-color rgba(15, 27, 37,0.8)

.posts-expand .post-meta-container
    color #ccc

.tag-cloud-0, .site-state-item-name
    color #ffffff

.footer
    color #000000